<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
</head>

<body>
    <p>made by - DiLofi</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewModalCenter">new</button>
    <div class="container mt-4">
        <h3>ERD lists</h3>
        {% if erds %}
        <ul class="list-group">
            {% for erd in erds %}
            <li classs="list-group-item d-flex justify-content-between align-items-center">
                {{ erd.name }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div>There are no files</div>

        {% endif %}
    </div>












    <!-- CreateNewERDModal -->
    <div class="modal fade" id="createNewModalCenter" tabindex="-1" role="dialog" aria-labelledby="createNewModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ERD Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{{ url_for('create_erd') }}" method="post">
            <div class="modal-body">
                <input class="form-control" type="text" id="name" name="name" placeholder="ERD name...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
        </div>
    </div>
    </div>
        
</body>
<script src="{{ url_for('static', filename='bootstrap/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
</html>